*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.center{
  max-width: 1000px;
  padding: 0 2%;
  display: flex;
  margin: 0 auto;
}

header{
    background-color: rgba(0,0,0,0.6);
    height: 60px;
}
.logo{
   
    color:  rgb(255, 255, 255);
    display: flex;
    align-items: center;
    
}
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

h3.palavra{
     text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
     font-size: 20px;
   
}
.logo .fa-location-dot{
    color: rgba(255, 0, 0, 0.775);
  display: flex;
    font-size: 25px;
     text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}



h3.letra{
    margin-left: 8px;
font-family: "MedievalSharp", cursive;
        font-size: 40px;
       text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
         

}
.menu-container{
    width: 100%;
    justify-content: space-between;
}

.menu-container a.active-menu{
    background-color: rgba(255, 0, 0, 0.775);
}

.menu-container a{
    color: white;
    display: inline-block;
    margin: 0 10px;
    line-height: 60px;
   padding: 0 10px;
    text-decoration: none;
    transition: 0.9s;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.menu-container a:hover{
    
    background-color: rgba(255, 0, 0, 0.575);
}

section.main{
    position: relative;
    min-height: 800px;
    min-width: 600px;
    background-image: url(image/modelo1.jpg);
    background-size: cover;
    background-position: center;
     box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1);
}

.text-chamada{
    color:white;
    position: absolute;
    bottom: 90px;
    left: 100px;
    
}

.text-chamada h1{
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    animation: fadeInDown 1s;
    transition: all 0.7s;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.text-chamada h3{
    font-size: 32px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    animation: fadeInDown 1.5s;
    transition: all 0.7s;
}




section.produtos{
      background-color: rgba(255, 0, 0, 0.775);
     padding: 30px 0;
     text-align: center;
     font-size: 25px;
     color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.fade-in-up {
  animation: fadeInUp 1.5s ease smooth forwards;
  transition: all ease 0.7s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up:nth-child(1) { animation-delay: 0.2s; }
.fade-in-up:nth-child(2) { animation-delay: 0.4s; }
.fade-in-up:nth-child(3) { animation-delay: 0.6s; }
.fade-in-up:nth-child(4) { animation-delay: 0.8s; }

.scroll-animar {
  opacity: 0;
  transform: translateY(70px) scale(0.95);
  transition: 
    opacity 1.7s cubic-bezier(0.16, 1, 0.3, 1),
    transform 1.7s cubic-bezier(0.16, 1, 0.3, 1);
  visibility: hidden;
  will-change: opacity, transform;
}

.scroll-animar.visivel {
  opacity: 1;
  transform: translateY(0) scale(1);
  visibility: visible;
  transition: 
    opacity 1.5s cubic-bezier(0.16, 1, 0.3, 1),
    transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}



section.catalogo{
       background-color: rgba(255, 0, 0, 0.775);
         padding: 20px 0;
         display: flex;
         scroll-behavior: smooth;
  gap: 30px; /* espaçamento entre cards */
  justify-content: center;
  flex-wrap: nowrap; /* não quebra linha (para slider funcionar) */
    overflow-x: auto; /* habilita rolagem horizontal */
    overflow: hidden;
    position: relative;
    
 }

.catalogo-container{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: visible;
    gap: 30px;  
    scroll-behavior: smooth;
    position: relative;
    
  
}
.catalogo .center{
    justify-content: center;
    gap: 30px;  
    scroll-behavior: smooth;
    overflow-x: visible;
    margin: 0;
}
 .catalogo-box1{
    width: 400px;
    height: 300px;
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 30px;
    transition: 0.2s;
    margin-bottom: 130px;
    background-size: cover;
    background-position: center;
    background-color:white ;
    color:black;  
    
}

.catalogo-box1:hover{
    transform: scale(1.05);
    transition: 0.4s all ease-in-out;
    box-shadow: 0 0 20px #ffffff77;
}

.btn-comprar {
    display: inline-block;
  margin-top: 3px;
  padding: 10px 20px;
  border: none;
  background: #e63946;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}
.btn-comprar:hover {
  background: #d62828;
}


 .catalogo-box2{
       width: 400px;
    height: 300px;
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 30px;
    transition: 0.2s;
    margin-bottom: 130px;
    background-size: cover;
    background-position: center;
    background-color:white ;
    color:black;
    
   
}

.catalogo-box2:hover{
    transform: scale(1.05);
    transition: 0.4s all ease-in-out;
    box-shadow: 0 0 20px #ffffff77;

}

.catalogo-box2:before{
    content: "";
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition: background 0.3s ease;
    z-index: -1;

}

 .catalogo-box3{
       width: 400px;
    height: 300px;
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 30px;
    transition: 0.2s;
    margin-bottom: 130px;
    background-size: cover;
    background-position: center;
    background-color:white ;
    color:black;
}

.catalogo-box3:hover{
    transform: scale(1.05);
    transition: 0.4s all ease-in-out;
    box-shadow: 0 0 20px #ffffff77;
}
 .catalogo-box i{
    font-size: 70px;
    color: #fff;
    transition: color 0.5s ease-in-out;
}
.catalogo-box:hover i{
    color: #1e8d0c;
    text-shadow: #28bf10 0px 0px 4px; 
}
.catalogo-box p{
    text-align:left;
}
 .catalogo-box h3{
    font-size: 28px;
    margin: 15px 0;

}

/* modelando as imagens do catalogo */
.catalogo-box1 img,
.catalogo-box2 img,
.catalogo-box3 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  
}

/* seta o catálogo */
.arrow {
    position: absolute;
    top: 45%;
  transform: translateY(-50%);
  background: rgba(155, 22, 22, 0.5);
  color: #fff;
  border: none;
width: 50px;
  height: 50px;
  font-size: 2rem;
  padding: 12px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 20;
  pointer-events: auto;
  display: flex;
  align-items: center;
    justify-content: center;

}


.arrow.left { 
  left: -70px; /* fica um pouco pra fora do container */
  border-right: 3px solid rgba(209, 209, 209, 0.915);
}

.arrow.right { 
  right: -70px; /* idem */
    border-left: 3px solid  rgba(209, 209, 209, 0.915);
}

.arrow:hover {
  background: rgba(155, 22, 22, 0.8);
  transition: all 0.3s ease-in-out;
    transform: translateY(-50%) scale(1.02);
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(209, 209, 209, 0.915);
}

/* Estiliza toda a barra */
::-webkit-scrollbar {
  width: 10px;   /* largura da barra vertical */
  height: 10px;  /* altura da barra horizontal */
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* "Polegar" (parte que arrasta) */
::-webkit-scrollbar-thumb {
  background: #ff3d3d;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* dá um espaço entre o fundo */
}

/* Hover no polegar */
::-webkit-scrollbar-thumb:hover {
  background: #e91e1e;
}